.Button {
  cursor: pointer;

  background-color: white;
  color: #808000;
  white-space: nowrap;

  display: inline-block;

  width: min-content;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.5em;
}

.Button-disabled {
  cursor: default;

  background-color: #EEEEEE;
}
